<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/dist/Congratulations.css">
    <link rel="stylesheet" href="/dist/output.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
</head>
<body class=" font-poppins">
    <div class="every">
        <div class="up">
            <div class="images">
                <div><img class="imgg" src="../images/Ellipse 21.png" alt=""></div>
                <div><img class="immg" src="../images/Vector (4).png" alt=""></div>
            </div>
            <div class="sec">
                <h1 class="cong">Congratulations</h1>
                <h4>You Have Won 50 Points.</h4>
            </div>
        </div>
        <div>
            <button class="nd">Continue</button>
        </div>
    </div>
</body>
</html>