<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/dist/Coursepage.css">
    <link rel="stylesheet" href="/dist/output.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
</head>
<body class=" font-poppins">
    <div class="every">
        <div class="top">
            <div class="head">
                <h2>Explore Your Preferred Course</h2>
                <h4 class="choose">choose your favorite course to acquire, and be the best in your niche.</h4>
            </div>
            <div>
                <h3>Category <i class='bx bxs-chevron-down'></i></h3>
            </div>
        </div>
        <div class=" allmain">
        <div class="main">
            <div class="ndtop">
              <h3>Tech & Mechanics</h3>      
              <h3>See All...</h3>
            </div>
            <div class="all flex">
                <div class="alltabs1 flex">
                    <div class="tab1">
                        <img src="/images/Rectangle 168.png" width="140" alt="">
                        <h3>Advanced Cryptocurrency</h3>
                        <h2>#20,000</h2>
                        <div class="btns">
                            <button class="st">200SQP</button>
                            <button class="nd">Enroll Now</button>
                        </div>
                    </div>
                    <div class="tab1">
                        <img src="/images/Rectangle 169.png" width="140" alt="">
                        <h3>UI/UX Design</h3>
                        <h2 class="ui">#15,000</h2>
                        <div class="btns">
                            <button class="st">200SQP</button>
                            <button class="nd">Enroll Now</button>
                        </div>
                    </div>
                    <div class="tab1">
                        <img src="/images/Rectangle 170.png" width="140" alt="">
                        <h3>Front-End Development</h3>
                        <h2>#14,000</h2>
                        <div class="btns">
                            <button class="st">200SQP</button>
                            <button class="nd">Enroll Now</button>
                        </div>
                    </div>
                    <div class="tab1">
                        <img src="/images/Rectangle 171.png" width="140" alt="">
                        <h3>Back-End Development</h3>
                        <h2>#15,000</h2>
                        <div class="btns">
                            <button class="st">200SQP</button>
                            <button class="nd">Enroll Now</button>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
        <div class="main">
            <div class="ndtop">
              <h3>History & Health</h3>      
              <h3>See All...</h3>
            </div>
            <div>
                <div class="alltabs1 flex">
                    <div class="tab1">
                        <img src="/images/Rectangle 172 (1).png" width="140" alt="">
                        <h3>Skin Care Production</h3>
                        <h2 class="ui">#7,000</h2>
                        <div class="btns">
                            <button class="st">200SQP</button>
                            <button class="nd">Enroll Now</button>
                        </div>
                    </div>
                    <div class="tab1">
                        <img src="/images/Rectangle 173 (1).png" width="140" alt="">
                        <h3>Page Management</h3>
                        <h2 class="ui">#10,000</h2>
                        <div class="btns">
                            <button class="st">200SQP</button>
                            <button class="nd">Enroll Now</button>
                        </div>
                    </div>
                    <div class="tab1">
                        <img src="/images/Rectangle 174.png" width="140" alt="">
                        <h3>True Africa History</h3>
                        <h2 class="ui">#12,000</h2>
                        <div class="btns">
                            <button class="st">200SQP</button>
                            <button class="nd">Enroll Now</button>
                        </div>
                    </div>
                    <div class="tab1">
                        <img src="/images/Rectangle 175.png" width="140" alt="">
                        <h3 class="aa">Africa Healing And Herbs Methodology</h3>
                        <h2>#8,000</h2>
                        <div class="btns">
                            <button class="st">200SQP</button>
                            <button class="nd">Enroll Now</button>
                        </div>
                    </div>
                </div>    
            </div>
        </div>
    </div>
    </div>
</body>
</html>