<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Quiz</title>
</head>
<body>
    <h1>Create a New Quiz</h1>
    <form action="/admin/create-quiz" method="post">
        <label for="question">Question:</label>
        <textarea name="question" required ></textarea><br>
        <label for="options">Options a (one per line):</label>
        <textarea name="options_a" required></textarea><br>
        <label for="options">Options b (one per line):</label>
        <textarea name="options_b" required></textarea><br>
        <label for="options">Options c (one per line):</label>
        <textarea name="options_c" required></textarea><br>
        <label for="options">Options d (one per line):</label>
        <textarea name="options_d" required></textarea><br>
        <label for="correctOption">Correct Option:</label>
        <input type="text" name="correctAnswer" required><br>
        <button type="submit">Create Quiz</button>
    </form>

</body>
</html>