<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/dist/GetHelp.css">
    <link rel="stylesheet" href="/dist/output.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
</head>
<body class=" font-poppins">
    <div class="every">
        
            <div class="head">
                <h2>Join Our Community</h2>
                <h4 class="choose">join our social media and comminuty for more update.</h4>
            </div>
            <div class="allbtns">
            <div class="btns">
                <button class="nd">Telegram</button>
                <button class="nd">Facebook</button>
            </div>
            <div class="btns">
                <button class="nd">Twitter</button>
                <button class="nd">Discord</button>
            </div>
            </div>
      </div>
</body>
</html>