<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/dist/GetSupport.css">
    <link rel="stylesheet" href="/dist/output.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
</head>
<body class=" font-poppins">
    <div class="every">
        
            <div class="head">
                <h2>Get Supports</h2>
                <h4 class="choose">contact us with your message. our team will get back to you soon.</h4>
            </div>
            
                <form action="">
                    <div class="all">   
                        <div>
                            <label for="Username">Username</label><br>
                            <input class="inp" type="text" name="Username" id="">
                        </div>
                        <div>
                            <label for="Username">Your Email</label><br>
                            <input class="inp" type="email" name="Username" id="">
                        </div>
                        <div>
                            <label for="Username">Type Your Message Here</label><br>
                            <textarea name="" id="" cols="60" rows="10"></textarea>
                        </div>
                    </div>
                    <div>
                        <button class="nd">
                            Submit
                        </button>
                    </div>



                </form>
            
      </div>
</body>
</html>