<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="css/MainDashboard.css">
    <!-- <link rel="stylesheet" href="css/output.css"> -->
</head>
<body>
    <section class="dashboard-container">
        <aside>
            <div class="top-side">
                <a class="item" href=""><img src="../images/ALPHABILLS STRAIGHT 1.png" alt=""></a>
                <button class="toggle">
                    <div class="first-line"></div>
                    <div class="second-line"></div>
                    <div class="third-line"></div> 
                </button>
            </div>
            <div class="dashboard tags active">
                <a class="activer" href="../MainDashboard/Maindashboard.html"><img src="../images/tabler-icon-layout-dashboard.png" alt=""></a>
                <a class=" activer" href="../MainDashboard/Maindashboard.html">Dashboard</a>
            </div>
            <div class="middle-side">
                <div class="tags">
                    <a  href="../AirtimePage/AirtimeHero.html"><img src="../images/tabler-icon-access-point.png" alt=""></a>
                    <a href="/quiz-page">Quiz competition</a>
                </div>
                <div class="tags">
                    <a href="/leaderboard"><img src="../images/tabler-icon-id.png" alt=""></a>
                    <a href="/leaderboard">Quiz Leaderboard</a>
                </div>
                <div class="tags">
                    <a href="/spinWheel"><img src="../images/tabler-icon-battery-automotive.png" alt=""></a>
                    <a class="item" href="/spinWheel">Spin To Win</a>
                </div>
                <div class="tags">
                    <a href="/coursepage"><img src="../images/tabler-icon-wallet.png" alt=""></a>
                    <a class="item" href="/coursepage">Courses</a>
                </div>
                <div class="tags">
                    <a href=""><img src="../images/tabler-icon-address-book.png" alt=""></a>
                    <a class="item" href="/payment">Payment</a>
                </div>
                <div class="tags">
                    <a href="../Account/account.html"><img src="../images/tabler-icon-settings.png" alt=""></a>
                    <a class="item" href="../Account/account.html">Referrals History</a>
                </div>
            </div>
            <div class="bottom-side">
                <div class="tags log-out">
                    <a href="/settings"><img src="../images/tabler-icon-logout.png" alt=""></a>
                    <a class="item" href="/settings">Settings</a>
                </div>
                <div class="tags log-out">
                    <a href="/getsupportl"><img src="../images/tabler-icon-logout.png" alt=""></a>
                    <a class="item" href="/getsupport">Get Help</a>
                </div>
                <div class="tags log-out">
                    <a href="../Signin-Signup/SignIn.html"><img src="../images/tabler-icon-logout.png" alt=""></a>
                    <a class="item" href="../Signin-Signup/SignIn.html">Community</a>
                </div>
            </div>
       </aside>

       <!-- mobile dashboard  -->
       
       <div>
        <button class="toggle-two">
            <div class="first-line"></div>
            <div class="second-line"></div>
            <div class="third-line"></div> 
           </button>
       </div>

       <nav class="nav">
            <div class="top-side">
                <a href=""><img src="../images/ALPHABILLS STRAIGHT 1.png" alt=""></a>
            </div>
            <div class="dashboard tags active">
                <a class="activer" href="../MainDashboard/Maindashboard.html"><img src="../images/tabler-icon-layout-dashboard.png" alt=""></a>
                <a class=" activer" href="../MainDashboard/Maindashboard.html">Dashboard</a>
            </div>
            <div class="middle-side">
                <div class="tags">
                    <a  href="../AirtimePage/AirtimeHero.html"><img src="../images/tabler-icon-access-point.png" alt=""></a>
                    <a href="../AirtimePage/AirtimeHero.html">Buy Airtime</a>
                </div>
                <div class="tags">
                    <a href="../AirtimePage/DataPlans.html"><img src="../images/tabler-icon-id.png" alt=""></a>
                    <a href="../AirtimePage/DataPlans.html">buy data</a>
                </div>
                <div class="tags">
                    <a href="../BillPayment/PayBills.html"><img src="../images/tabler-icon-battery-automotive.png" alt=""></a>
                    <a href="../BillPayment/PayBills.html">pay bills</a>
                </div>
                <div class="tags">
                    <a href="../Wallet/wallet.html"><img src="../images/tabler-icon-wallet.png" alt=""></a>
                    <a href="../Wallet/wallet.html">wallet</a>
                </div>
                <div class="tags">
                    <a href=""><img src="../images/tabler-icon-address-book.png" alt=""></a>
                    <a href="">profile</a>
                </div>
                <div class="tags">
                    <a href="../Account/account.html"><img src="../images/tabler-icon-settings.png" alt=""></a>
                    <a href="../Account/account.html">Settings</a>
                </div>
            </div>
            <div class="bottom-side">
                <div class="tags log-out">
                    <a href="../Signin-Signup/SignIn.html"><img src="../images/tabler-icon-logout.png" alt=""></a>
                    <a class="item" href="../Signin-Signup/SignIn.html">Settings</a>
                </div>
                <div class="tags log-out">
                    <a href="../Signin-Signup/SignIn.html"><img src="../images/tabler-icon-logout.png" alt=""></a>
                    <a class="item" href="../Signin-Signup/SignIn.html">Get Help</a>
                </div>
                <div class="tags log-out">
                    <a href="../Signin-Signup/SignIn.html"><img src="../images/tabler-icon-logout.png" alt=""></a>
                    <a class="item" href="../Signin-Signup/SignIn.html">Community</a>
                </div>
            </div>
        </nav class="nav">

       <!-- mobile dashboard end -->
   
    </section>
    

    <script src="/js/aside.js"></script>
</body>
</html>