<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="css/MainDashboard.css">
    <!-- <link rel="stylesheet" href="css/output.css"> -->
</head>
<body>
    <section class="dashboard-container">
        <aside>
            <div class="top-side">
                <img class="logo" src="/images/gifted_logo.png" alt="">
                <button class="toggle">
                    <div class="first-line"></div>
                    <div class="second-line"></div>
                    <div class="third-line"></div> 
                </button>
            </div>
            <div class="dashboard tags">
                <a class="activer" href="/dashboard"><img src="/images/Dashboard.png" alt=""></a>
                <a  class="item" href="/dashboard">Dashboard</a>
            </div>
            <div class="middle-side">
                <div class="tags">
                    <a  href="../AirtimePage/AirtimeHero.html"><img src="/images/Group 31.png" alt=""></a>
                    <a class="item" href="/quizPage">Quiz competition</a>
                </div>
                <div class="tags">
                    <a href="/leaderboard"><img src="/images/Conference Foreground Selected.png" alt=""></a>
                    <a class="item" href="/leaderboard">Quiz Leaderboard</a>
                </div>
                <div class="tags">
                    <a href="/spinWheel"><img src="/images/RGB Color Wheel.png" alt=""></a>
                    <a class="item" href="/spin">Spin To Win</a>
                </div>
                <div class="tags">
                    <a href="/coursepage"><img src="/images/Graduation Cap.png" alt=""></a>
                    <a class="item" href="/coursepage">Courses</a>
                </div>
                <div class="tags">
                    <a href=""><img src="/images/Bank Cards.png" alt=""></a>
                    <a class="item" href="/payment">Payment</a>
                </div>
                <div class="tags">
                    <a href="/referral"><img src="/images/Collab.png" alt=""></a>
                    <a class="item" href="/referral">Referrals History</a>
                </div>
            </div>
            <div class="bottom-side">
                <div class="tags log-out">
                    <a href="/settings"><img src="/images/Group 34.png" alt=""></a>
                    <a class="item" href="/settings">Settings</a>
                </div>
                <div class="tags log-out">
                    <a href="/getsupport"><img src="/images/Group 35.png" alt=""></a>
                    <a class="item" href="/getsupport">Get Help</a>
                </div>
                <div class="tags log-out">
                    <a href="/gethelp"><img src="/images/Group 36.png" alt=""></a>
                    <a class="item" href="/gethelp">Community</a>
                </div>
            </div>
       </aside>

       <!-- mobile dashboard  -->
       
       <div>
        <button class="toggle-two">
            <div class="first-line"></div>
            <div class="second-line"></div>
            <div class="third-line"></div> 
           </button>
       </div>

       <nav class="nav">
            <div class="top-side">
                <a href=""><img src="../images/ALPHABILLS STRAIGHT 1.png" alt=""></a>
            </div>
            <div class="dashboard tags">
                <a class="activer" href="/dashboard"><img src="/images/Dashboard.png" alt=""></a>
                <a  class="item" href="/dashboard">Dashboard</a>
            </div>
            <div class="middle-side">
                <div class="tags">
                    <a  href="../AirtimePage/AirtimeHero.html"><img src="/images/Group 31.png" alt=""></a>
                    <a class="item" href="/quizPage">Quiz competition</a>
                </div>
                <div class="tags">
                    <a href="/leaderboard"><img src="/images/Conference Foreground Selected.png" alt=""></a>
                    <a class="item" href="/leaderboard">Quiz Leaderboard</a>
                </div>
                <div class="tags">
                    <a href="/spinWheel"><img src="/images/RGB Color Wheel.png" alt=""></a>
                    <a class="item" href="/spin">Spin To Win</a>
                </div>
                <div class="tags">
                    <a href="/coursepage"><img src="/images/Graduation Cap.png" alt=""></a>
                    <a class="item" href="/coursepage">Courses</a>
                </div>
                <div class="tags">
                    <a href=""><img src="/images/Bank Cards.png" alt=""></a>
                    <a class="item" href="/payment">Payment</a>
                </div>
                <div class="tags">
                    <a href="/referral"><img src="/images/Collab.png" alt=""></a>
                    <a class="item" href="/referral">Referrals History</a>
                </div>
            </div>
            <div class="bottom-side">
                <div class="tags log-out">
                    <a href="/settings"><img src="/images/Group 34.png" alt=""></a>
                    <a class="item" href="/settings">Settings</a>
                </div>
                <div class="tags log-out">
                    <a href="/getsupport"><img src="/images/Group 35.png" alt=""></a>
                    <a class="item" href="/getsupport">Get Help</a>
                </div>
                <div class="tags log-out">
                    <a href="/gethelp"><img src="/images/Group 36.png" alt=""></a>
                    <a class="item" href="/gethelp">Community</a>
                </div>
            </div>
        </nav class="nav">

       <!-- mobile dashboard end -->
   
    </section>
    

    <script src="/js/aside.js"></script>
</body>
</html>