<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/dist/Payment.css">
    <link rel="stylesheet" href="/dist/output.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
</head>
<body class=" font-poppins">
    <div class="every">
        
            <div class="head">
                <h2>Payment Method</h2>
                <h4 class="choose">select your payment method and Proceed with the widrawals.</h4>
            </div>
            
            <div class="btns">
                <button class="nd">Paystack</button>
                <button class="st">Bank Transfer</button>
            </div>
      </div>
</body>
</html>