<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/dist/Planpage.css">
    <link rel="stylesheet" href="/dist/output.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
</head>
<body class=" font-poppins">
    
      <div class="eve">
        <div class="all">
            <div class="first">
                <h2 class="choose">Choose Your Plan</h2>
                <p>Choose Your Preferred Package And Press The Continue Button</p>
            </div>
            <div class="tabs">
                <div class="st">
                    <h2 class="top">Weekly Plan</h2>
                    <h1 class="bug">#2,400<sub>/$4</sub></h1>
                    <p>Available For 6 Month</p>
                    <p>15 Question Per Day</p>
                    <p>Winners Get 20k Each</p>
                    <p>5 Winners</p>
                </div>
                <div class="nd">
                    <h2 class="top">Monthly Plan</h2>
                    <h1 class="bug">#4,600<sub>/$7.60</sub></h1>
                    <p>Available For 6 Month</p>
                    <p>Team Support</p>
                    <p>15 Question Per Day</p>
                    <p class="pa">1st Get 100k, 2nd Get 75k, 3rd Get 50k</p>
                    <p>3 Winners</p>
                </div>
            </div>
        </div>
        <div class="sign">
            <button>Continue</button>
        </div>
      </div> 
    <div class="foot">
        <img width="20" src="/images/Arrow 4 (1).png" alt="">
        <div class="list text-[white] font-thin">
            <h4 class="side">Back To Home</h4>
            <h4 class="side">Privacy & Policy</h4>
            <h4>Terms & Condition</h4>
        </div>
    </div>
</body>
</html>