<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/dist/Quizselection.css">
    <link rel="stylesheet" href="/dist/output.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
</head>
<body class=" font-poppins">
    <div class="every">
        <div class="top">
            <div class="head">
                <h2>Play And Win Big Time</h2>
                <h4 class="choose">test your knowledge with quiz and earn SQP points.</h4>
            </div>
            <div>
                <h3>See All...</h3>
            </div>
        </div>
        <div>
            <div class="first">
                <h2>Advance In Cryptocurrency</h2>
                <div class="btns">
                    <button class="st">More Info</button>
                    <button class="nd">Play Now</button>
                </div>
            </div>
            <div class="first">
                <h2>Advance In Cryptocurrency</h2>
                <div class="btns">
                    <button class="st">More Info</button>
                    <button class="nd">Play Now</button>
                </div>
            </div>
            <div class="first">
                <h2>Advance In Cryptocurrency</h2>
                <div class="btns">
                    <button class="st">More Info</button>
                    <button class="nd">Play Now</button>
                </div>
            </div>
            <div class="first">
                <h2>Advance In Cryptocurrency</h2>
                <div class="btns">
                    <button class="st">More Info</button>
                    <button class="nd">Play Now</button>
                </div>
            </div>
            <div class="first">
                <h2>Advance In Cryptocurrency</h2>
                <div class="btns">
                    <button class="st">More Info</button>
                    <button class="nd">Play Now</button>
                </div>
            </div>
            <div class="first">
                <h2>Advance In Cryptocurrency</h2>
                <div class="btns">
                    <button class="st">More Info</button>
                    <button class="nd">Play Now</button>
                </div>
            </div>
            <div class="first">
                <h2>Advance In Cryptocurrency</h2>
                <div class="btns">
                    <button class="st">More Info</button>
                    <button class="nd">Play Now</button>
                </div>
            </div>
            <div class="first">
                <h2>Advance In Cryptocurrency</h2>
                <div class="btns">
                    <button class="st">More Info</button>
                    <button class="nd">Play Now</button>
                </div>
            </div>
          

        </div>
         
                
     </div>
        
    
    
</body>
</html>