<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/Quizpage.css">
    <link rel="stylesheet" href="/css/output.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
</head>
<body>
    <section>
        <div>
            <%-include ('sidebar') %>
        </div>

        <div class="display">
            <div class="text">
                <h2>Question 1-15</h2>
                <p>Note: Choose Your Answer Below And Press Continue Once Done.</p>
            </div>
            <form class="top">
                <div>
                    <div class="ques"></div>
                </div>
                <div class="grids">
                    <div class="rad">
                        <input type="radio" name="" id="" value="<%=">
                    </div>
                    <div class="rad">
                        <input type="radio" name="" id="">
                    </div>
                    <div class="rad">
                        <input type="radio" name="" id="">
                    </div>
                    <div class="rad">
                        <input type="radio" name="" id="">
                    </div>
                </div>

                <button type="submit">Submit</button>
            </form>
        </div>
        
    </section>
</body>
</html>