<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
        <link rel="stylesheet" href="./output.css">
        <link rel="stylesheet" href="./Referrals.css">
        <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
        <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
    </head>


<body class="h-[100vh] w-[80vw] flex flex-col items-center justify-center font-poppins " >
    
        <div class="earn">
            <div class="top"><h2 class=" font-bold text-[20px]">Referrals History</h2>
                    <h4>Manage Your Friends Transactions With Ease</h4>
            </div>
            <table>
                <tr>
                    <th></th>
                    <th class="task">Name</th>
                    <th class="fif">Total Answered</th>
                    <th>Rewards</th>
                </tr>
                <tr>
                    <td>1</td>
                    <td class="task">Samuel David</td>
                    <td class="fif" >340</td>
                    <td>#235k</td>
                </tr>
                <tr>
                    <td>2</td>
                    <td class="task">Adebayo Adeniyi</td>
                    <td class="fif">335</td>
                    <td>#255k</td> 
                </tr>
                <tr>
                    <td>3</td>
                    <td class="task">Chioma Chibuzor</td>
                    <td class="fif">325</td>
                    <td>#135k</td> 
                </tr>
                <tr>
                    <td>4</td>
                    <td class="task">Bello Dammy</td>
                    <td class="fif">315</td>
                    <td>#285k</td> 
                </tr>
                <tr>
                    <td>5</td>
                    <td class="task">Bello Dammy</td>
                    <td class="fif">15</td>
                    <td>#215k</td> 
                </tr>
                <tr>
                    <td>6</td>
                    <td class="task">Bello Dammy</td>
                    <td class="fif">290</td>
                    <td>#125k</td> 
                </tr>
                <tr>
                    <td>7</td>
                    <td class="task">Amari Chima</td>
                    <td class="fif">270</td>
                    <td>#85k</td> 
                </tr>
                <tr>
                    <td>8</td>
                    <td>Diallo Aadan</td>
                    <td class="fif">240</td>
                    <td>#75k</td> 
                </tr>
                <tr>
                    <td>9</td>
                    <td>Jagun Jamal</td>
                    <td class="fif">220</td>
                    <td>#120k</td> 
                </tr>
                <tr>
                    <td>10</td>
                    <td>Egbon Kilanko</td>
                    <td class="fif">210</td>
                    <td>#205k</td> 
                </tr>
                <tr>
                    <td>11</td>
                    <td>Diallo Aadan</td>
                    <td class="fif">190</td>
                    <td>#235k</td> 
                </tr>
                <tr>
                    <td>12</td>
                    <td>Jagun Jamal</td>
                    <td class="fif">170</td>
                    <td>#155k</td> 
                </tr>
               
            </table>
        </div>
    </div>

</body>
</html>