<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/Settings.css">
    <link rel="stylesheet" href="/css/output.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Settings | Gifted Brainz</title>
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
</head>
<body class=" font-poppins">
    <div class="set">
        <div class="side ">
            <%-include('MainDashboard')%>
        </div>
        <div class="every">
            
                <div class="head">
                    <h2>Settings</h2>
                    <h4 class="choose">Manage all your Settings in Here.</h4>
                </div>
                
                    <form action="/user/<%=id%>" method="post">
                        <div class="all">   
                            <div class="">
                               <img src="/images/gifted_logo.png" alt="">
                            </div>
                            
                            <div>
                                <label for="Username">Username</label><br>
                                <div class="edit">
                                <input class="inp" type="text" name="username" value="<%=user.username %>" id="input1">
                                <h4 onclick="focususername()" style="cursor: pointer;">Edit</h4>
                                </div>
                            </div>
                            <div>
                                <label for="email">Your Email</label><br>
                                <div class="edit">
                                    <input class="inp" type="email" name="email" value="<%= user.email %>" id="input2">
                                    <h4 onclick="focusemail()" style="cursor: pointer;">Edit</h4>
                                </div>
                            </div>
                        </div>
                        <div class="btns">
                            <button type="submit" class="nd">
                                Submit
                            </button>
                            <button class="ndd">
                                Log Out
                            </button>
                        </div>
    
    
    
                    </form>
                
          </div>
    </div>
      <script>
        function focususername(){
            document.getElementById("input1").focus();
        }
        function focusemail(){
            document.getElementById("input2").focus();
        }
      </script>
</body>
</html>