<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sidebar</title>
    <link rel="stylesheet" href="/css/Sidebar.css">
</head>
<body>
    <nav class="sidebar">
      <div class="sidebar-inner">
        <header class="sidebar-header">
          <img onclick="toggleSidebar()" src="/images/gifted_logo.png" class="sidebar-logo" />
          <button
            type="button"
            class="sidebar-burger"
            onclick="toggleSidebar()"
          ></button>
        </header>
        <nav class="sidebar-menu">
          <button type="button" class="nav_link active">
            <img src="/images/Dashboard (1).png" />
            <span>Dashboard</span>
          </button>
          <button type="button" class="nav_link">
            <img src="/images/Group 31.png" />
            <span>Quiz competition</span>
          </button>
          <button type="button" class="nav_link">
            <img src="/images/Group 33.png" />
            <span>Quiz Leaderboard</span>
          </button>
          <button type="button" class="nav_link">
            <img src="/images/RGB Color Wheel.png" />
            <span>Spin To Win</span>
          </button>
          <button type="button" class="nav_link">
            <img src="/images/Graduation Cap.png" />
            <span>Courses</span>
          </button>
          <button type="button" class="nav_link">
            <img src="/images/Bank Cards.png" />
            <span>Payment</span>
          </button>
          <button type="button" class="nav_link">
            <img src="/images/Collab.png" />
            <span>Referrals History</span>
          </button>
          <button type="button" class="nav_link">
            <img src="/images/Order History.png" />
            <span>Earnings History</span>
          </button>
          
        </nav>
        <div class="down">
          <button type="button">
            <img src="/images/Group 34.png" />
            <span>Settings</span>
          </button>
          <button type="button" >
            <img src="/images/Group 35.png" />
            <span>Get help</span>
          </button>
          <button type="button">
            <img src="/images/Group 36.png" />
            <span>Community</span>
          </button>
        </div>
      </div>
    </nav>

    <script type="text/javascript">
      const toggleSidebar = () => document.body.classList.toggle("open");
    </script>
    <script src="/js/sidebar.js"></script>
  </body>
</html>