<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sidebar</title>
    <link rel="stylesheet" href="/css/Sidebar.css">
</head>
<body>
    <div class="app">
        
        <div class="menu-toggle">
            <div class="hamburger">
                <span></span>
            </div>
        </div>

        <aside class="sidebar close">
            <div class="brain">
                <img src="/images/gifted_logo.png" class="n_b" alt="">
                <img src="/images/Arrow 4.png" class="arrow toggle" alt="">
            </div>

            <div class="dash1">
                <img src="/images/Dashboard.png" alt="">

                <a href="">Dashboard</a>
            </div>

            <nav>
                <div class="run">
                    <div class="imaging"><img src="/images/Running.png" alt=""></div>

                    <a href="" class="item">Quiz Competition</a>
                </div>

                <div class="run">
                    <div class="imgr"><img src="/images/Group 33.png" alt=""></div>
                    
                    <a href="" class="item">Quiz Leaderboard</a>
                </div>

                <div class="run">
                    <img class="imgr" src="/images/RGB Color Wheel.png" alt="">
                    <a href="" class="item">Spin to Win</a>
                </div>

                <div class="run">
                    <img class="imgr" src="/images/Graduation Cap.png" alt="">
                    <a href="" class="item">Courses</a>
                </div>

                <div class="run">
                    <img class="imgr" src="/images/Bank Cards.png" alt="">
                    <a href="" class="item">Payment</a>
                </div>

                <div class="run">
                    <img class="imgr" src="/images/Collaboration Female Male.png" alt="">
                    <a href="" class="item">Referral History</a>
                </div>

                <div class="run">
                    <img class="imgr" src="/images/Order History.png" alt="">
                    <a href="" class="item">Earnings History</a>
                </div>
            </nav>

            <nav class="new">
                <div class="runn">
                    <img class="imgr" src="/images/Group 34.png" alt="">
                    <a href="" class="item1">Settings</a>
                </div>

                <div class="runn">
                    <img class="imgr" src="/images/Group 35.png" alt="">
                    <a href="" class="item1">Get Help</a>
                </div>

                <div class="runn">
                    <img class="imgr" src="/images/Group 36.png" alt="">
                    <a href="" class="item1">Community</a>
                </div>
            </nav>
        </aside>

        

    </div>

    <script src="/js/sidebar.js"></script>
</body>
</html>