<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sidebar</title>
    <link rel="stylesheet" href="/css/Sidebar.css">
</head>
<body>
    <nav class="sidebar">
      <div class="sidebar-inner">
        <header class="sidebar-header">
          <img onclick="toggleSidebar()" src="/images/gifted_logo.png" class="sidebar-logo" />
          <button
            type="button"
            class="sidebar-burger"
            onclick="toggleSidebar()"
          ></button>
        </header>
        <nav class="sidebar-menu">
          <button type="button" class="nav_link active">
            <img src="/images/Dashboard (1).png" />
            <a href="/dashboard"><span class="nav_link">Dashboard</span></a>
          </button>
          <button type="button">
            <img src="/images/Group 31.png" />
            <a href="/CreateQuiz"><span class="nav_link">Quiz competition</span></a>
          </button>
          <button type="button" >
            <img src="/images/Group 33.png" />
            <a href="/leaderboard"><span class="nav_link">Quiz Leaderboard</span></a>
          </button>
          <button type="button">
            <img src="/images/RGB Color Wheel.png" />
            <a href="/spinWheel"><span class="nav_link">Spin To Win</span></a>
          </button>
          <button type="button">
            <img src="/images/Graduation Cap.png" />
            <a href="/Coursepage"><span class="nav_link">Courses</span></a>
          </button>
          <button type="button">
            <img src="/images/Bank Cards.png" />
            <a href="/Payment"> <span class="nav_link">Payment</span></a>
          </button>
          <button type="button">
            <img src="/images/Collab.png" />
            <a href="/referral"><span class="nav_link">Referrals History</span></a>
          </button>
          <button type="button" >
            <img src="/images/Order History.png" />
            <a href="/earning"><span class="nav_link">Earnings History</span></a>
          </button>
          
        </nav>
        <div class="down">
          <button type="button">
            <img src="/images/Group 34.png" />
            <a href="/Settings"><span>Settings</span></a>
          </button>
          <button type="button" >
            <img src="/images/Group 35.png" />
            <a href="/GetSupport"><span>Get help</span></a>
          </button>
          <button type="button">
            <img src="/images/Group 36.png" />
            <a href="/GetHelp"><span>Community</span></a>
          </button>
        </div>
      </div>
    </nav>

    <script type="text/javascript">
      const toggleSidebar = () => document.body.classList.toggle("open");
    </script>
    <script src="/js/sidebar.js"></script>
  </body>
</html>