<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/Withdraw.css">
    <!-- <link rel="stylesheet" href="/css/output.css"> -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gifted Brainz/Withdraw page</title>
</head>
<body>
    <main>
        <h1>Widthdraw Fund</h1>
        <form id="withdrawalForm">
            <div>
                <label for="accountNumber">Account Number:</label>
                <input type="text" name="accountNumber" required>
            </div>
        
            <div>
                <label for="amount">Amount:</label>
                <input type="tel" name="amount" required>
            </div>
            <div>
                <label for="">Bank:</label>
                <select name="" id="">
                    <option value="">Guarabtee Trust Bank</option>
                    <option value="">Sterling Bank</option>
                    <option value="">Keystone Bank</option>
                </select>
            </div>
        
            <button type="button">With-draw</button>
        </form>
    </main>
</body>
</html>