@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

.blue-background{
    background: radial-gradient(24.1% 77.04% at 53.05% 34.1%, #0235EA 0%, rgba(33, 73, 217, 0.714882) 50.26%, rgba(29, 72, 226, 0.6) 100%);
    border-radius: 14px;
    width: 100%;
    height: 25vh;
    padding: 20px;
}

.wrapper{
    position: fixed;
    top: 0;
    left: 0;
}

.dash-items{
    display: flex;
    justify-content: space-between;
    gap: 30px;
}
.blue{
    background-color: #0235EA;
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    border-radius: 20px;
}
.blue p, .green p, .orange p{
    color: white;
}
.blue h1{
    font-size: 30px;
    color: #fff;
}
.green h1{
    font-size: 30px;
    color: #fff;
}
.orange h1{
    font-size: 30px;
    color: #fff;
}
.green{
    background-color: #34A853;
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    border-radius: 20px;

}
.orange{
    background-color: #F5761A;
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    border-radius: 20px;

}

main{
    width: 100%;
}
.welcome-msg{
    color: white;
    font-family: 'Raleway', sans-serif;
    padding: 20px;
}

.welcome-msg p{
    font-family: 'Poppins', sans-serif;
}

.verify-btn{
    display: flex;
    justify-content: space-between;
}

.verify-btn button{
    padding: 10px 30px;
    background-color: transparent;
    border: 2px solid #FFFFFF;
    border-radius: 10px;
    color: #FFFFFF;
    cursor: pointer;
}

.main-airtime{
    background: #FFFFFF;
    border: 1px solid #E0E6FC;
    border-radius: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    gap: 20px;
}

.main-airtime a{
    text-decoration: none;
    color: black;
    display: flex;
    align-items: center;
    gap: 20px;
}

.main-airtime h1{
    font-family:  'Raleway', sans-serif;
}

.main-airtime p{
    font-family: 'Poppins', sans-serif;
    font-size: 13px;
}

.airtime-area{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    padding: 10px;
    gap: 20px;
    width: 100%;
}

.history h1{
    font-family: 'Raleway', sans-serif;
    font-size: 15px;
}

.history-table{
    width: 100%;
}

table{
    width: 100%;
    border-collapse: collapse;
    font-family: 'Poppins', sans-serif;
}

td{
    padding: 10px;
    border-top: 1px solid black;
}


th{
    text-align: start;
    padding: 5px;
}

.bundle{
    display: flex;
    align-items: center;
    text-align: center;
    gap: 20px;
}

.dashboard-container{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;

}
aside{
    width: 250px;
    height: 100vh;
    display: flex;
    /* position: fixed; */
    flex-direction: column;
    overflow: hidden;
    gap: 15px;
    border-right: 1px solid;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    transition: all .3s ease;
    /* padding: 0 10px; */
    
}
.close-aside{
    width: 70px;
    /* padding-left: 15px; */
    overflow: hidden;
}
.top-side{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
    padding: 0 10px;
}

.dashboard .item{
    color: white;
}

.top-side .logo{
    width: 50px;
}

.display-none{
    display: none;
}

.bottom-side .item{
    color: white;
}
.toggle{
    z-index: 1000 !important;
    background-color: transparent;
    cursor: pointer;
    border: none;
    outline: none;
    width: 30px;
    height: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
    transition: all .2s ease-in-out;
}
/* .toggle-sub{
    left: 1.5%;
} */
.toggle-two{
    display: none;
}
.toggle div{
    background-color: black;
    height: 2px;
    width: 25px;
    transition: all .4s ease-in-out;
    z-index: 1000 !important;

}
.dashboard{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    /* gap: 15px; */
    text-transform: capitalize;
    /* height: 10vh; */
    background-color: #0235EA;
    padding: 7px 0;

}

.tags img{
    /* height: 20vh; */
    width: 40px;
}

.dashboard img{
    /* width: 40px; */
    height: 40px;
}
.active{
    border-left: 2px solid #0235EA;
    background-color: #F6F8FE;
    padding: 10px;
    border-radius: 10px;
}
.active a{
    color: #0235EA !important;
}
.middle-side{
    width: 100%;
    height: 70vh;
    display: flex;
    flex-direction: column;
    padding: 5px 10px;
    gap: 20px;
}
/* .bottom-side{
    display: flex;
    flex-direction: column;
    gap: 20px;
} */
.tags{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 40px;
    text-transform: capitalize;

}
.tags a{
    color: black;
    font-family: "Raleway", sans-serif;
    font-weight: 600;
    text-decoration: none;
    cursor: pointer;
}
.item{
    display: block;
}
.close-item{
    display: none;
    overflow: hidden;
}
.bottom-side{
    width: 100%;
    /* height: 20vh; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding:5px 10px;
    gap: 10px;
    background-color: #5852FE;
    color: white;
}
.nav{
    display: none;
}


.toggle .item{
    display: none;
}


main{
    width: 100%;
    padding: 0 30px;

}
.toggle-main{
    width: 95%;
}
.dashboard-main-top{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    font-family: "Raleway", sans-serif;
    font-weight: 600;

}
.inp{
    width: 50%;
}
.user h1{
    font-size: 30px;
    font-weight: 600;
}
.inp input{
    width: 100%;
    border: 1px solid gray;
    border-radius: 20px;
}
.profile-picture{
    height: 50px;
    width: 50px;
    border-radius: 50%;
}
.input-bar{
    height: 100px;
    display: flex;
    align-items: center;
    gap: 20px;
    overflow: hidden;
}


@media screen and (max-width: 950px) {
    aside{
        display: none;
    }
    main{
        width: 100%;
    }
    .toggle-main{
        width: 100%;
    } 
    .dashboard-main-top{
        width: 100% !important;
        
    }
    .toggle-two{
        position: fixed;
        left: 1.5%;
        top: 2%;
        z-index: 1000 !important;
        background-color: transparent;
        cursor: pointer;
        border: none;
        outline: none;
        width: 30px;
        height: 30px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 5px;
        transition: all .7s linear;
    }
    .toggle-sub{
        left: 190px;
    }
    .toggle-two div{
        background-color: black;
        height: 2px;
        width: 25px;
        transition: all .4s ease-in-out;
        z-index: 1000 !important;
    
    }
    .nav{
        display: flex;
        width: 250px;
        height: 100vh;
        flex-direction: column;
        gap: 20px;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        transition: all .3s ease;
        padding: 0 10px;
        position: fixed;
        top: 0;
        left: 0;
        background-color: white;
        transition: all 1s ease;
        transform: translate(-250px);
    }
    .nav-sub{
        transform: translate(0px);

    } 
}

@media screen and (max-width:950px) {
    .airtime-area{
        grid-template-columns: 1fr;
    }
}

