* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
}

button {
  background: transparent;
  border: 0;
  padding: 0;
  cursor: pointer;
}

.sidebar {
    width: 300px;
    min-height: 100vh;
    background: white;
    transition: width 0.4s;
}

body.open .sidebar {
  width: 72px;
}
body.open .sidebar .nav_link{
  width: 72px;
  display: none;
}
/* .sidebar-inner {
  position: absolute;
  top: 0;
  left: 0;
  width: 300px;
  background: white;
  color: black;

} */
.sidebar-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 72px;
  padding: 0 20px;
  background-color: whitesmoke;
}


.nav_link.active{
  background-color: #5852FE;
  color: white;
}
.sidebar-inner button{
  color: black;
}



.sidebar-menu,
.down {
    width: 100%; /* Full width initially */
}

.sidebar-burger {
  width: 72px;
  height: 72px;
  display: grid;
  place-items: center;
  background: url(./assets/icon-burger.svg) no-repeat center center;
}

body.open .sidebar-burger {
  background: url(./assets/icon-close.svg) no-repeat no-repeat center center;
}

.sidebar-logo {
  width: 20%!important;
}

.sidebar-menu {
  display: grid;
}

.sidebar-menu > button {
  display: flex;
  gap: 25px;
  align-items: center;
  height: 48px;
  font-family: "Poppins";
  font-size: 16px;
  font-weight: 200;
  letter-spacing: 2px;
  line-height: 1;
  padding: 0 25px;
  color: black;
}

.sidebar-menu > button.has-border {
  padding-bottom: 5px;
  margin-bottom: 5px;
}

.sidebar-menu > button > img {
  width: 24px;
  height: 24px;
}

.sidebar-menu > button > span {
  color: rgba(0, 0, 0, 0.97);
}

.down{
  background-color: #5852FE;
  display:grid;
  margin-top: 25px;
}

.down img{
  width: 24px;
  height: 24px;
}

.down > button{
  display: flex;
  gap: 25px;
  align-items: center;
  height: 55px;
  font-family: "Poppins";
  font-size: 16px;
  font-weight: 200;
  letter-spacing: 2px;
  line-height: 1;
  padding: 0 25px;
  color: white;
}
